Create new database and user

```sql
psql -h demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com -U postgres

create database project;
create user team75 with login encrypted password 'password';
grant all privileges on database project to team75;
exit

psql -h demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com -U team75 -d project
```

In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Setting the connection

%load_ext sql

%sql postgresql://team75:password@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project

In [3]:
# Files to upload

mdm = pd.read_csv("../data/mdm_clean.csv")
comp_dim = pd.read_csv("../data/comp_dim_clean.csv")
investments = pd.read_csv("../data/mintic_investments_clean.csv")

Creating and uploading tables

In [6]:
mdm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4404 entries, 0 to 4403
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   anio_corte                   4404 non-null   int64
 1   municipio                    4404 non-null   object
 2   codigo                       4404 non-null   int64
 3   departamento                 4404 non-null   object
 4   grupo_dotaciones             4404 non-null   object
 5   categoria_de_ruralidad       4404 non-null   object
 6   mdm                          4404 non-null   float64
 7   puesto_mdm_grupo_dotaciones  4404 non-null   int64
 8   puesto_mdm_nacional          4404 non-null   int64
 9   id                           4404 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 344.2+ KB

In [12]:
%%sql

CREATE TABLE mdm (
    anio_corte integer,
    municipio text,
    codigo integer,
    departamento text,
    grupo_dotaciones text,
    categoria_de_ruralidad text,
    mdm float,
    puesto_mdm_grupo_dotaciones integer,
    puesto_mdm_nacional integer,
    id integer
);

SELECT;

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
Done.
1 rows affected.

[()]

In [13]:
%%sql

\copy mdm FROM '../data/mdm_clean.csv' with (format CSV, header true, delimiter ',');

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
0 rows affected.

[]

In [14]:
comp_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4404 entries, 0 to 4403
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   anio_corte                           4404 non-null   int64
 1   municipio                            4404 non-null   object
 2   codigo                               4404 non-null   int64
 3   departamento                         4404 non-null   object
 4   grupo_dotaciones                     4404 non-null   object
 5   categoria_de_ruralidad               4404 non-null   object
 6   cobertura_media_neta                 4404 non-null   float64
 7   saber_11_matematicas                 4404 non-null   float64
 8   saber_11_lenguaje                    4404 non-null   float64
 9   cobertura_transicion                 4404 non-null   float64
 10  cobertura_salud                      4404 non-null   float64
 11  vacunacion_pentavalente              4404 non-null   float64
 12  mortalidad_infantil                  4404 non-null   float64
 13  cobertura_electrica_rural            4398 non-null   float64
 14  cobertura_internet                   4404 non-null   float64
 15  cobertura_acueducto                  4404 non-null   float64
 16  cobertura_alcantarillado             4404 non-null   float64
 17  hurtos                               4404 non-null   int64
 18  hurtos_x_10000_hab                   4404 non-null   float64
 19  homicidios                           4404 non-null   int64
 20  homicidios_x_10000_hab               4404 non-null   float64
 21  violencia_intrafamiliar              4404 non-null   int64
 22  violencia_intrafamiliar_x_10000_hab  4404 non-null   float64
 23  id                                   4404 non-null   int64
dtypes: float64(14), int64(6), object(4)
memory usage: 825.9+ KB

In [16]:
%%sql

CREATE TABLE comp_dim (
    anio_corte integer,
    municipio text,
    codigo integer,
    departamento text,
    grupo_dotaciones text,
    categoria_de_ruralidad text,
    cobertura_media_neta float,
    saber_11_matematicas float,
    saber_11_lenguaje float,
    cobertura_transicion float,
    cobertura_salud float,
    vacunacion_pentavalente float,
    mortalidad_infantil float,
    cobertura_electrica_rural float,
    cobertura_internet float,
    cobertura_acueducto float,
    cobertura_alcantarillado float,
    hurtos integer,
    hurtos_x_10000_hab float,
    homicidios integer,
    homicidios_x_10000_hab float,
    violencia_intrafamiliar integer,
    violencia_intrafamiliar_x_10000_hab float,
    id integer
);

SELECT;

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
Done.
1 rows affected.

[()]

In [17]:
%%sql

\copy comp_dim FROM '../data/comp_dim_clean.csv' with (format CSV, header true, delimiter ',');

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
0 rows affected.

[]

In [18]:
investments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63361 entries, 0 to 63360
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio_corte             63361 non-null  int64
 1   fecha_corte            63361 non-null  object
 2   departame_nombre       63361 non-null  object
 3   departame_cod          63361 non-null  object
 4   municipio_nombre       63361 non-null  object
 5   municipio_cod          63361 non-null  int64
 6   iniciativa             63361 non-null  object
 7   viceministerio         63361 non-null  object
 8   indicador              63361 non-null  object
 9   descripcion_indicador  63361 non-null  object
 10  inversion              63361 non-null  int64
 11  beneficiarios          63361 non-null  int64
 12  id                     63361 non-null  int64
dtypes: int64(5), object(8)
memory usage: 6.3+ MB

In [23]:
%%sql

CREATE TABLE investments (
    anio_corte integer,
    fecha_corte text,
    departame_nombre text,
    departame_cod text,
    municipio_nombre text,
    municipio_cod integer,
    iniciativa text,
    viceministerio text,
    indicador text,
    descripcion_indicador text,
    inversion bigint,
    beneficiarios integer,
    id integer
);

SELECT;

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
Done.
1 rows affected.

[()]

In [24]:
%%sql

\copy investments FROM '../data/mintic_investments_clean.csv' with (format CSV, header true, delimiter ',');

 * postgresql://team75:***@demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com/project
0 rows affected.

[]

In [30]:
# Loading tables from sql

# Setting the connection
user = 'team75'
passw = 'password'
route = 'demo.cd8slrl4z0uw.us-east-2.rds.amazonaws.com'
database = 'project'
database_route = f'postgresql://{user}:{passw}@{route}/{database}'
conn = create_engine(database_route)

# Loading the tables to dataframes
mdm = pd.read_sql_query('SELECT * FROM mdm', con = conn)
comp_dim = pd.read_sql_query('SELECT * FROM mdm', con = conn)
investments = pd.read_sql_query('SELECT * FROM mdm', con = conn)